body {
    margin: 0;
    padding: 0;
    background-color: #609CE1;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #E1ECF9;
}

.container h1 {
    color: #002a7f;
    font-weight: 900;
    font-size: 60px;
    text-shadow: 15px 17px 18px black;
    text-decoration: underline;
}

.btn {
    padding: 15px 30px;
    border-radius: 45px;
    font-size: 23px;
    font-weight: 600;
    color: #E1ECF9;
    background-color: #014ea5;
    cursor: pointer;
}

/* Days Section  */

.days-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#btnNextMonth{
    position: absolute;
    right: 200px;
    bottom: 50%;
}

#btnBackMonth{
    position: absolute;
    left: 200px;
    bottom: 50%;
}

#calendarContainer{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 100px;
    flex-grow: 1;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 15px;
    background-color: #133863;
    color: #E1ECF9;
    box-shadow: 12px 16px 12px rgba(0, 0, 0, 0.628);
    font-size: 23px;
    font-weight: 700;
    font-family: serif;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 12px 24px 12px rgba(0, 0, 0, 0.628);
    transition: all 0.6s ease-in-out;
}

.hidd {
    transform: scale(0);
    transition: 0.4s;
}

.show {
    transform: scale(1);
    transition: 0.4s;
}

.btn-days {
    color: #E1ECF9;
    padding: 10px 50px;
    margin: 5px;
    font-size: 25px;
    border: 1px solid #091D34;
    font-weight: 900;
    font-style: italic;
    box-shadow: 5px 15px 8px rgba(0, 0, 0, 0.612);
}

.btn-days:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: all 0.4s ease-out;
}

/* ================================ */

.col-color {
    background-color: #133863;
}

.col-color1 {
    background-color: #236AB9;
}

/* Tasks Table Section  */

.tasks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.table-task {
    width: 85%;
}

.th-task {
    padding: 10px 50px;
    border: 1px white solid;
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
}

.td-task {
    padding: 10px 30px;
    font-size: 23px;
    font-weight: 600;
    font-style: normal;
    background-color: rgba(2, 40, 96, 0.644);
    text-align: center;
    text-transform: capitalize;
    border: 1px solid black;
}

#btnNew {
    margin: 75px 0px 100px 0px;
}

#btnNew:hover {
    background-color: #E1ECF9;
    color: #014ea5;
    transition: all 0.6s ease-in-out;
}

#btnBack {
    background-color: rgba(193, 3, 3, 0.807);
    margin: -50px 0px 25px auto;
}

#btnBack:hover {
    background-color: #E1ECF9;
    color: rgba(193, 3, 3, 0.807);
    transition: 0.6s;
}


.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.btnDelete,
.btnUpdate,
.btnCompleted {
    font-size: 16px;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.73);
    margin: 10px 0px;
}

.btnDelete:hover {
    color: rgba(255, 0, 0, 0.73);
    background-color: #E1ECF9;
    transition: 0.6s;
}

.btnUpdate {
    background-color: rgba(0, 0, 255, 0.739);
}

.btnUpdate:hover {
    color: rgba(0, 0, 255, 0.739);
    background-color: #E1ECF9;
    transition: 0.6s;
}

.btnCompleted {
    background-color: rgba(0, 128, 0, 0.746);
}

.btnCompleted:hover {
    color: rgba(0, 128, 0, 0.746);
    background-color: #E1ECF9;
    transition: 0.6s;
}

/* ================================ */


/* Modal Add Tasks Section  */
.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 60%);
    transform: scale(0);
    transition: 0.4s;
}

.modal-show {
    transform: scale(1);
}

.form-task {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: 1px solid black;
    background-color: #133863;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.722);
}

.input-task-container {
    position: relative;
    width: 350px;
    margin: 25px auto;
}

.input-task-container:nth-child(1) {
    margin-top: 75px;
}

.input-task {
    width: 100%;
    padding: 0px;
    font-size: 23px;
    border: none;
    border-bottom: 2px solid #E1ECF9;
    background-color: transparent;
    outline: none;
}

.input-task-container label {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 20px;
    transition: 0.4s;
}

.input-task-container input:focus+label,
.input-task-container input:valid+label {
    top: -15px;
    font-size: 18px;
}

.underline {
    width: 100%;
    height: 2px;
    background-color: #E1ECF9;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: 0.4s;
}

.input-task-container input:focus~.underline,
.input-task-container input:valid~.underline {
    transform: scaleX(1);
    background-color: #091D34;
}

.input-time-container {
    width: 350px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
}

.input-time {
    width: 100%;
    margin: 10px;
    font-size: 23px;
    border: none;
    border-bottom: 1px solid #E1ECF9;
    background-color: transparent;
    color: #E1ECF9;
    outline: none;
}

.input-time-container label {
    font-size: 20px;
}

.task-category {
    width: 350px;
    margin: 25px auto;
    font-size: 22px;
    border: none;
    border-bottom: 1px solid #E1ECF9;
    background-color: transparent;
    outline: none;
    color: #E1ECF9;
}

.task-category option {
    background-color: #091D34;
    color: #E1ECF9;
}

#btnAdd {
    margin: 25px auto;
    background-color: #002a7f;
}

#btnAdd:hover {
    color: #002a7f;
    background-color: #E1ECF9;
    transition: 0.6s;
}

#btnExitForm {
    background-color: red;
    padding: 10px 20px;
    font-size: 26px;
    align-self: flex-end;
    margin-top: -40px;
    margin-right: -25px;
}

#btnExitForm:hover {
    background-color: #E1ECF9;
    color: red;
    transition: 0.6s ease-in-out;
}

#btnSaveUpdate {
    background-color: rgba(71, 194, 71, 0.683);
}

#btnSaveUpdate:hover {
    color: rgb(0, 182, 0);
    background-color: #E1ECF9;
    transition: 0.6s;
}

/* ================================ */